<h2>Infoseek</h2>


<form id="search-bar" action="/pages/search">
  <label>Search</label>
  <input type="text" name="search_input" value="<%=params[:search_input]%>">
  <input type="submit">
</form>

<% if @results != [] %>
  <% @results.each do |result| %>
    <h4 class="result_title"><a href="<%= result.url %>"><%= result.title %></a></h4>
    <p class="url"><%= result.url %>
    </p>
    <p><%= result.text.truncate(100) %></p>
  <% end  %>
<% elsif @error %>
  <h3><%= @error[0] %></h3>
<% end %>
